$base: 3.75;

html {
    @media only screen and (max-width: 480px) {
        font-size: 480px/$base;
    }
    @media only screen and (max-width: 414px) {
        font-size: 414px/$base;
    }
    @media only screen and (max-width: 412px) {
        font-size: 412px/$base;
    }
    @media only screen and (max-width: 400px) {
        font-size: 400px/$base;
    }
    @media only screen and (max-width: 393px) {
        font-size: 393px/$base;
    }
    @media only screen and (max-width: 375px) {
        font-size: 100px;
    }
    @media only screen and (max-width: 360px) {
        font-size: 360px/$base;
    }
    @media only screen and (max-width: 345px) {
        font-size: 345px/$base;
    }
    @media only screen and (max-width: 320px) {
        font-size: 320px/$base;
    }
}

html {
    -webkit-text-size-adjust: none;
    font-size: calc(100vw / 3.75);
    @media only screen and (min-width: 640px) {
        font-size: 640px/$base;
    }
}
