/*
 * @Author: aneng 
 * @Date: 2019-01-24 19:51:29 
 * @Last Modified by: aneng
 * @Last Modified time: 2019-01-24 19:51:51
 */
 @font-face {
    font-family: 'iconfont';  /* project id 1030822 */
    src: url('//at.alicdn.com/t/font_1030822_xyapgitp2bj.eot');
    src: url('//at.alicdn.com/t/font_1030822_xyapgitp2bj.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1030822_xyapgitp2bj.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1030822_xyapgitp2bj.woff') format('woff'),
    url('//at.alicdn.com/t/font_1030822_xyapgitp2bj.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1030822_xyapgitp2bj.svg#iconfont') format('svg');
  }