/*
 * @Author: aneng 
 * @Date: 2019-01-24 19:51:26 
 * @Last Modified by:   aneng 
 * @Last Modified time: 2019-01-24 19:51:26 
 */

@import "./fontIcon";
@import "./normalize";
@import "./caclrem";

#main {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    font-family: PingFangSC-Regular, Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
    // for egret game view
    -ms-touch-action: none;
}

.mobile-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    background-color: #f2f2f2;
    color: #666;
    font-size: .12rem;
    line-height: 1.4;
    height: auto;
    min-height: 100%;
}

.egret-player {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
